swiper-container {
  --swiper-pagination-color: var(--ion-color-secondary);
  height: 100%;
}

swiper-slide {
  .img {
    ion-img {
      height: 100%;
    }
    width: 80%;
    height: calc(100% - 200px);
    margin: 10px auto;
    padding: 15px;
    box-shadow: 0 3px 2px -2px var(--ion-color-medium);
    box-sizing: border-box;
    border: var(--ion-color-tertiary) solid 1px;
    border-radius: 15px;
  }


  .description {
    margin-top: 10px;
    padding: 0px 15px;
    height: 80px;
    text-align: center;
  }
  padding-bottom: 20px;
}
