swiper-container {
  --swiper-pagination-color: var(--ion-color-secondary);
}

swiper-slide {
  .img {
    width: calc(100% - 20px);
    margin: 10px auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid var(--ion-color-primary);
    box-sizing: border-box;
    box-shadow:0 4px 2px -2px var(--ion-color-tertiary);
  }

  .img-last {
    width: calc(100% - 20px);
    margin: 10px auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid var(--ion-color-primary);
    box-sizing: border-box;
    box-shadow:0 4px 2px -2px var(--ion-color-tertiary);
  }

  .description {
    margin-top: 10px;
    padding: 0px 15px;
    height: 80px;
    text-align: center;
  }
  padding-bottom: 20px;
}
