<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button size="large" fill="clear" [routerLink]="['/profile-and-settings']" shape="round" slot="end">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid [fixed]="true">
    <ion-row *ngFor="let cardRow of chunkedCards">
      <ion-col *ngFor="let card of cardRow">
        <ion-card [routerLink]="card.routerLink">
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
            <ion-note style="margin-top: 3px">
<!--              {{ author}}-->
              Jozko Mak
            </ion-note>
            <ion-card-subtitle>
              <ion-badge color="light" style="margin-right: 10px">
                {{ card.subtitle}}
              </ion-badge>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ card.content }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-loading" [routerLink]="['/bookmark-create']" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-loading trigger="open-loading" message="Opening camera..." duration="1000" spinner="circles"></ion-loading>
  </ion-fab>
</ion-content>
