<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-card class="user-profile-information">
      <ion-card-header>
        <ion-card-title>Information about user</ion-card-title>
      </ion-card-header>
      <ion-item lines="none">
        <ion-label>Change your PIN</ion-label>
        <ion-label slot="end">
          <ion-icon name="arrow-forward-outline" [routerLink]="['/pin-change']"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Bookmarks count</ion-label>
        <ion-badge color="secondary">{{ bookmarkCount }}</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Preferred OCR language</ion-label>
        <ion-label slot="end">{{ preferredOcrLanguage }}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="user-profile-information">
      <ion-card-header>
        <ion-card-title>Language preference for OCR</ion-card-title>
      </ion-card-header>
      <ion-item lines="none">
        <ion-toggle aria-label="Secondary toggle" color="secondary" (ionChange)="setPreferredOcrLanguage('Slovak')" [checked]="preferredOcrLanguage === 'Slovak'" >Slovak</ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-toggle aria-label="Secondary toggle" color="secondary" (ionChange)="setPreferredOcrLanguage('English')" [checked]="preferredOcrLanguage === 'English'">English</ion-toggle>
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>
