.user-profile-information{
  border: var(--ion-color-tertiary) solid 1px;
  border-radius: 15px;
  box-shadow: 0 4px 2px -2px var(--ion-color-secondary-tint);
}

.user-profile-information-table {
  border-collapse:separate;
  border-spacing: 0 10px;
  width: 100%;
}

.user-profile-information-table td:last-child {
  text-align: right;
}




