<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button fill="clear" id="open-loading" shape="round" slot="end" style="margin-right: 16px" (click)="updateBookmark()">
      <ion-icon size="large" slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-loading trigger="open-loading" message="Saving..." duration="1000" spinner="circles"></ion-loading>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="bookmark-info-header">
        <ion-label>Bookmark Details</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>Book</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-textarea auto-grow="true" [(ngModel)]="title"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>Author</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-textarea auto-grow="true" [(ngModel)]="author"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>Page number</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-textarea auto-grow="true" [(ngModel)]="pageNumber"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>Note</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-textarea auto-grow="true" [(ngModel)]="note"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
