.login {
  //height: 70%;
  margin-top: 100%;
}

ion-note {
  margin-top: 20px;
  margin-bottom: 20px;
}

code-input {
  --item-spacing: 8px;
  --item-height: 50px;
  --item-border-radius: 5px;
  --item-border: 2px solid #dedede;
  --item-border-focused: 2px solid #007aff;
}
